<p>class works!</p>
<h2>רשימת כל התלמידות:</h2>
@for (s of girlsList; track s){
    <div>task name: {{s.name}}</div>
    <div>task clas: {{s.clas}}</div>
    <div>task grade: {{s.grade}}</div>
 
    @if(s.grade==100){
         <div>amazing</div>
         
        }
   

    <button (click)="takeOut(s)">bad</button>
    <button (click)=" putIn(s)">good</button>
}
<h2> all the girls:</h2>
@for (g of girlsList; track g) {
  <div>
    שם: {{ g.name }} | כיתה: {{ g.clas }} | ציון: {{ g.grade }}
  </div>}
    <h2>good girls:</h2>
@for (g of goodGirls; track g) {
  <div>
    שם: {{ g.name }} | כיתה: {{ g.clas }} | ציון: {{ g.grade }}
  </div>

 }

